<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <title>Weather Journal</title>
  </head>
  <body>
    <div class="app">
      <div class="wrapper wrapper-blue">
        <header class="header">
          <img
            class="header__logo"
            src="../media/images/logo.png"
            alt="travel_planer_logo"
          />
        </header>
      </div>
      <div class="wrapper wrapper-yellow">
        <form class="trip-form">
          <div class="input-container">
            <label for="city"> Trip To:</label>
            <input
              class="input"
              type="text"
              id="city"
              placeholder="enter city here"
            />
          </div>
          <div class="input-container">
            <label for="dateInput"> Departure Date:</label>

            <input class="input" type="date" id="dateInput" />
          </div>
          <button class="btn btn-primary" id="generate" type="submit">
            Generate
          </button>
        </form>
      </div>

      <div class="wrapper">
        <div class="trips-container"></div>
      </div>
    </div>

    <footer class="footer wrapper wrapper-blue">
      <p class="footer__paragraph">
        Made with ❤️ by
        <a href="https://diaa-dw.netlify.app/" target="_blank">Diaa Dwikat</a>
      </p>
    </footer>
  </body>
  <!-- <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script> -->
</html>
