*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.app {
  min-height: calc(100vh - 7rem);
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-yellow {
  background-color: #f4f5cd;
}

.wrapper-blue {
  background-color: #d0e5f7;
}
