.trips-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 4rem;
}
.trip {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  background-color: #d0e5f7;
  border-radius: 0.8rem;
  overflow: hidden;
  max-height: 60rem;
  overflow-y: auto;
  & * {
    padding: 0.4rem 0.8rem;
    margin: 0.1rem 0rem;
  }
  .trip__image {
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );

    width: 38rem;
    height: 25rem;
    padding: 0;
  }
}

.trip__info * {
  width: max-content;
  padding: 0.4rem 0.8rem;
}

.trip__info {
  display: flex;
  align-items: center;
  margin: 1.5rem 0rem;
  font-size: 1.2rem;
  img {
    width: 2rem;
    padding: 0;
  }
}

.mark-text {
  background-color: rgba(241, 255, 165, 0.651);
  padding: 0.3rem 1.2rem;
  border-radius: 0.5rem;
}

.trip__counter {
  padding: 0.4rem 0.8rem;
  margin: 0 0.6rem;
  background-color: rgba(241, 255, 165, 0.651);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 3rem;
  }
  .trip_counter_descrption {
    font-weight: 500;
    font-size: 1.4rem;
    span {
      background-color: #d0e5f7;
      border-radius: 0.3rem;
    }
  }
}
