.trip-form {
  display: flex;
  gap: 2rem;
  padding: 2rem 1.8rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 120rem;
}

@media only screen and (max-width: 650px) {
  .trip-form {
    flex-direction: column;
  }
}
